USE [master]
GO
/****** Object:  Database [HavaDurumu]    Script Date: 11/08/2023 13:35:57 ******/
CREATE DATABASE [HavaDurumu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HavaDurumu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HavaDurumu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HavaDurumu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HavaDurumu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HavaDurumu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HavaDurumu]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 11/08/2023 13:35:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[plate] [nvarchar](5) NOT NULL,
	[latitude] [nvarchar](20) NOT NULL,
	[longitude] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Counties]    Script Date: 11/08/2023 13:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Counties](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[city_id] [int] NOT NULL,
	[county_name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YeniDurum]    Script Date: 11/08/2023 13:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YeniDurum](
	[Name] [varchar](255) NULL,
	[GuncellemeZamani] [varchar](255) NULL,
	[Sicaklik] [varchar](255) NULL,
	[Gokyuzu] [varchar](255) NULL,
	[YuksekDusuk] [varchar](255) NULL,
	[Ruzgar] [varchar](255) NULL,
	[Gunduz] [varchar](255) NULL,
	[Gece] [varchar](255) NULL,
	[GunDogumU] [varchar](255) NULL,
	[GunBatimi] [varchar](255) NULL,
	[Basinc] [varchar](255) NULL,
	[Nem] [varchar](255) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Counties]  WITH CHECK ADD FOREIGN KEY([city_id])
REFERENCES [dbo].[Cities] ([id])
GO
USE [master]
GO
